@media only screen and (max-width: 546px) {
    body {
      max-width: 100%;
      overflow-x: hidden;
    }

    h1{
        font-size: 150%;
    }
    h2{
        font-size: 140%;
    }
    h3{
        font-size: 130%;
    }
    h4{
        font-size: 120%;
    }
    h5{
        font-size: 110%;
    }
    h6{
        font-size: 100%;
    }
    p{
        font-size: 90% !important;
    }

    #prehead-sticky-wrapper.sticky-wrapper {
        height: 70px !important;
    }
    #prehead-sticky-wrapper.is-sticky, #prehead-sticky-wrapper.is-sticky #prehead{
        height: 50px !important;
    }

    #prehead{
        height: 70px !important;
    }

    .logo img {
        height: 50px;
    }

    .info table {
        display: none;
    }

    #prehead .info #contact{
        margin: 0 !important;
        line-height: 37px !important;
    }
    .is-sticky .info #contact{
        line-height: 35px !important;
    }

    img#july{
        left: 50%;
        transform: translateX(-50%);
        z-index: 12;
        width: 180px !important;
        animation-delay: 0.5s;
    }
    img#may{
        left: 15% !important;
        z-index: 11;
        width: 150px !important;
        animation-delay: 1s;
    }
    img#june{
        left: 5% !important;
        z-index: 10;
        width: 130px !important;
        animation-delay: 1.5s;
    }
    img#april{
        left: 40% !important;
        z-index: 9;
        width: 150px !important;
        animation-delay: 1s;
    }
    img#march{
        left: 55% !important;
        z-index: 8;
        width: 130px !important;
        animation-delay: 1.5s;
    }

    .caption p, .carousel-item p{
        width: auto !important;
    }

    #mainSubBtn{
        margin-top: 50px !important;
    }

    #types .pic{
        text-align: center;
        background-size: 180px !important;
        height: 250px !;
    }
    #types .pic img {
        width: 200px;
    }


    #form .subs .form-row div{
        margin-bottom: 15px; 
    }

    #form .bordered{
        line-height: 40px;
    }

    #form form{
        font-size: 90% !important;
    }

    footer {
        font-size: 90%;
    }

    footer .logo{
        text-align: center;
        margin-bottom: 20px;
    }
    /* secondary pages Pay->Success->Cancel */
    .secondary .logo {
        margin-bottom: 3rem !important;
        text-align: center;
    }

    .secondary table {
        display: none;
    }

    #payment table {
        font-size: 85%;
    }

    div#contact_whp a#goback{
        margin-top: 10px;
    }

    .payment-method {
        
    }
  }