@import url('css/media.css');

*{
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background: #f1f1f1;
    text-rendering: optimizeLegibility;
}

/* Browser edit */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

a{
    color: inherit !important;
    text-decoration: none !important;
}

button{
    outline: none !important;
    border: 0;
}

.logo{
    padding: 10px 0;
}

.info {
    line-height: 40px;
    padding: 8px 0;
}
.fixedheader{
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff !important;
}
#prehead{
    background: transparent;
    box-shadow: 0 0 10px -4px rgba(0,0,0,0.25);
    max-height: 100px;
    height: 100px;
    overflow: hidden;
    
}

.is-sticky #prehead{
    height: 60px;
    background: #fff;
}
/* sticky options */
.sticky-wrapper{
    height: 100px !important;
}
.is-sticky, .is-sticky #prehead{
    z-index: 1234 !important;
    height: 50px;
}

.is-sticky .logo{
    padding: 3px 0;
}

.is-sticky .logo img{
    height: 40px;
}

.is-sticky .info{
    line-height: 0;
    padding: 3px 0;
}

.is-sticky .info table{
    display: none;
}

.is-sticky .btn-modern{
    line-height: 35px !important;
}

header .btn-holder{
    display: inline-block;
    float: right;
}

.btn-modern{
    text-transform: uppercase;
    font-size: 80%;
    color: #fff !important;
    background: linear-gradient(to right, #c0392b 50%, #fff 50%);
    background-size: 200px;
    background-position-x: 0px;
    padding: 8px 13px;
    text-align: center;
    letter-spacing: 0.8px;
    transition: all 0.3s  cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.btn-modern:hover{
    background-position-x: 100px;
    color: #c0392b !important;
}

a#contact{
    background: linear-gradient(to right, #27ae60  50%, #fff 50%);
    background-position-x: 0px;
    background-size: 200px;

}

a#view {
    background-position-x: 285px;
}

a#contact:hover{
    color: #27ae60 !important;
    background-position-x: 100px;
}

#prehead .btn-holder .btn-modern{
    line-height: 80px;
}

/*  seciton plans */
#plans{
    max-height: 100vh;
    height: 100vh;
    background: linear-gradient(to right, #00000087,#000000d6,#00000087), url(img/cover.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out .7s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
} */

.head{
    padding: 15px 0;
}

.head h2{
    text-align: center;
    letter-spacing: 0.7rem;
    text-transform: uppercase;
}
#plans .head h2{
    color: #333;
}
.tagline p{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    font-size: 110%;
    color: #ccc;
}

/* box styles */
.box{
    padding: 15px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 10px -4px rgba(0,0,0,0.25);
    /* transform: scale(0.8); */
}

.box.pro {
    transform: scale(1.0);
}


.box-header, .box-footer{
    padding: 5px 0;
}

.box-body .box-footer{
    padding: 10px 0;
}
.box-title h3{
    text-transform: uppercase;
    font-size: 110%;
    font-weight: 900;
    letter-spacing: 0.3rem;
    text-align: center;
}

.box-body{
    max-height: 250px;
    overflow: hidden;
    position: relative;
}

.box-footer{
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: -15px;
    background: #222;
    color:#fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.box-footer .price h4{
    text-align: center;
}

.box-body::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ffffff8a 0%, rgba(255, 255, 255, 0.01) 45%);

}

a#btn-big {
    padding: 1rem 1.3rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    background-position: 0px;
    background-size: 440px;
    line-height: 20px;
    margin-top: 15px;
}

a#btn-big:hover{
    background-position: 220px;
}

.caption{
    z-index: 14;
    color: #333;
    text-align: center;
}



.caption h2, .carousel-item h2{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    z-index: 15;
}
.caption p, .carousel-item p{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 110%;
    font-weight: 300;
    width: 400px;
    margin: auto;
}

.carousel-control-next, .carousel-control-prev{
    color: #222 !important;
}
.red{
    color: #c0392b;
}
.covers {
    position: relative;
    min-height: 200px;
}

.covers img{
    position: absolute;
}
/* positioning magazine covers */
img#july{
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;
    width: 230px;
    animation-delay: 0.5s;
}
img#may{
    left: 30%;
    z-index: 11;
    width: 200px;
    animation-delay: 1s;
}
img#june{
    left: 20%;
    z-index: 10;
    width: 180px;
    animation-delay: 1.5s;
}
img#april{
    left: 50%;
    z-index: 9;
    width: 200px;
    animation-delay: 1s;
}
img#march{
    left: 60%;
    z-index: 8;
    width: 180px;
    animation-delay: 1.5s;
}
/* compania 19 */
.text-box {
    padding: 10px;
    display: inline-block;
    color: #f5f5f5;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 18px;
    background: #c0392b;
    text-align: center;
}

.round-white {
    width: 10px;
    height: 10px;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    /* animation: zoomInUp 2.5s infinite ease; */
}

@keyframes zoomInUp{
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.plain-box {
    margin-top: 25px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plain-box h5{
    margin: 0;
}

#compania .plain-box {
    border: 2px solid #666;
    color: #eee;
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

/* types */
#types .col-md-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn-modern-type {
    display: block;
    background: rgba(0,0,0,0.50);
    color: #eee !important;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.btn-modern-type:focus{
    background: #c0392b;
    color: #fff;
}

#types .btn-modern:hover{
    color: #fff !important;
}

#types .pic img{
    vertical-align: middle;
}



/* form area */

.section{
    padding: 5rem 0;
}

section#form{
    background: url(img/bg5.svg) no-repeat center bottom / cover;
}

section#form::before {
    content: "";
    width: 100%;
    height: 350px;
    background: linear-gradient(45deg,#222 ,#434343);
    display: block;
    position: absolute;
    margin-top: -80px;
}

.form-holder{
    border-radius: 8px;
    box-shadow: 0 0 10px -4px rgba(0,0,0,0.25);
}
.form-header{
    padding: 15px;
}

.form-body{
    padding: 30px;
    background: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.form-header{
    background: #222;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: url(img/bg2.jpg) no-repeat center;
    background-size: cover;
}
.form-title{
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    letter-spacing: 0.3rem;
}
.form-tip{
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.2rem;
    font-size: 100%;
}

.bordered{
    border: 1px solid #999;
    padding: 5px;
    border-radius: 8px;
}

span.loader {
    padding: 10px;
    line-height: 30px;
}

span#prm {
    padding: 8px;
    background: #eee;
    border-radius: 8px;
    font-weight: 600;
}

.input-group .border-right {
    border-right: 5px solid #444 !important;
}

/* footer */
footer{
    background: #f8f8f8;
}



/* ------------------ secondary page -------------------- */
header.secondary {
    height: 35vh;
    display: flex;
    flex-direction: column;
}

header.secondary h1{
    padding-bottom: 20px;
}

.secondary .logo {
    margin-bottom: 4.5rem;
}

header#pay{
    background: url(img/bg4.jpg) center center / cover;
}
header#pay h1{
    color: #eee;
}

section#payment{
    background: url(img/bg5.svg) no-repeat center bottom / cover;
}

.pay-box.box{
    transform: scale(1);
}
.pay-box .btn-holder{
    text-align: center;
}

.pay-box .btn-modern{
    background-size: 240px;
    background-position: 240px;
}
.pay-box .btn-modern:hover{
    background-position: 110px;
}

p.note {
    background: #efefef;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
}

/* success page */
div#contact_whp .btn-modern {
    background-size: 400px;
}
div#contact_whp .btn-modern:hover{
    background-position: 183px;
}

div#contact_whp .btn-modern#goback{
    background-size: 250px;
}   
div#contact_whp .btn-modern#goback:hover{
    background-position: 127px;
}   

/* pop up box */

.payment-method center{
    transform: scale(0.95);
}

/* track page */
ul.nav.nav-tabs {
    border: none;
    background: #f1f1f1;
}
a.nav-link.active {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #c0392b !important;
    color: #c0392b !important;
}
.tab-content {
    border: 2px solid #f1f1f1;
    min-height: 220px;
}


#track h6{
    font-weight: bold;
    font-size: 15px;
}
#track table td b{
    color: #555;
}
#track small{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.plan {
    padding: 15px;
    background: linear-gradient(45deg, #004085, #007bff);
    color: #fff;
    margin-top: 10px;
    border-radius: 8px;
}
.plan small{
    font-weight: 300;
    font-size: 18px;
}

/* search page */
li.pills {
    list-style: none;
    display: block;
    padding: 10px;
    background: #f5f5f5;
    margin: 5px;
}
a#adblock{
    margin-bottom: 20px;
    box-shadow: 0 5px 6px -4px #999;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
a#adblock:hover{
    background-color: #eee;
    transition: all 0.3s ease-in-out; 
}
.verified {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    background: url(img/vr.png);
    background-size: contain;
}
#pic{
    background-color: #13aec0;
    padding: 15px;
}

#address tr td {
    padding: 5px;
}

section#track {
    background: linear-gradient(-45deg,#222 ,#434343);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}