.bg-login-image {
    background: url(../img/1.png) center center no-repeat;
    background-size: 250px;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
